@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;700&display=swap');

.root {
    -fx-font-family: 'Chakra Petch', sans-serif;
    -fx-background-color: #0d0d11;
}

.top-bar {
    -fx-background-color: #060608;
    -fx-text-fill: #ffffff;
}

.button {
    -fx-background-radius: 0 0 0 0;
}

/* Buttons */
.ui-button {
    -fx-background-radius: 0 0 0 0;
    -fx-background-color: #0d0d11;
    -fx-border-color: #ffa724;
    -fx-text-fill: #ffa724;
}

.button:hover {
    -fx-background-color: #0d0d11;
    -fx-text-fill: #ffffff;
}

.ui-button:hover {
    -fx-background-color: #ffa724;
    -fx-text-fill: #0e0e12;
}

.cancel-button {
    -fx-background-color: #0d0d11;
    -fx-text-fill: #ffffff;
}
.cancel-button:hover {
    -fx-text-fill: #ffa724;
}
/**/

.top-bar-button {
    -fx-background-color: transparent;
    -fx-text-fill: #ffffff;
}

.close-button:hover {
    -fx-background-color: #ffa724;
    -fx-text-fill: #060608;
}

.table-view {
    -fx-background-color: #0e0e12;
}

